<subporter-header title="Zoek abonnementen" subtitle="" image="/img/search_bg.jpg"></subporter-header>

<section class="search">
	<div class="container">
		<aside>
			<form class="filter">
				<ul materialize="collapsible" class="collapsible" data-collapsible="Expandable">
					<li>
						<div class="collapsible-header active">
							<i class="material-icons">search</i>
							Zoekwoorden
						</div>
						<div class="collapsible-body">
							<span class="keyword" *ngIf="keyword" (click)="removeKeyword()">{{keyword}}
								<i class="fa fa-times" aria-hidden="true"></i>
							</span>
							<input type="search" class="filterSearch" placeholder="Geef een zoekwoord in">
							<button class="waves-effect waves-light btn" (click)="filterKeyword()">Zoek</button>
						</div>
					</li>
					<li>
						<div class="collapsible-header active">
							<i class="material-icons">today</i>
							Datum
						</div>
						<div class="collapsible-body">
							<span class="keyword" *ngIf="date" (click)="removeDate()">{{date}}
								<i class="fa fa-times" aria-hidden="true"></i>
							</span>
							<ul>
								<li>
									<span (click)="filterDate('Vandaag')">Vandaag</span>
								</li>
								<li>
									<span (click)="filterDate('Morgen')">Morgen</span>
								</li>
								<li>
									<span (click)="filterDate('Dit weekend')">Dit weekend</span>
								</li>
								<li>
									<span (click)="filterDate('Deze week')">Deze week</span>
								</li>
								<li>
									<span (click)="filterDate('Volgende week')">Volgende week</span>
								</li>
								<li>
									<span (click)="filterDate('Deze maand')">Deze maand</span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<i class="material-icons">room</i>Land</div>
						<div class="collapsible-body">
							<span class="keyword" *ngIf="country" (click)="removeCountry()">{{country}}
								<i class="fa fa-times" aria-hidden="true"></i>
							</span>
							<ul>
								<li *ngFor="let country of featuredCountries">
									<span (click)="filterCountry(country._id)">{{country.name}}</span>
								</li>
								<input type="search" class="filterCountrySearch " placeholder="Zoek een land">
								<button class="waves-effect waves-light btn" (click)="filterCountryKeyword()">Zoek</button>
							</ul>
						</div>
					</li>
				</ul>
			</form>
		</aside>
		<article>
			<div class="row">
				<div class="col s12">
					<ul *ngFor="let game of games" class="collection">
						<a [routerLink]="['/evenement', game._id]">
							<li class="collection-item">
								<span class="title">
									{{game.home.name}}
									-
									{{game.away.name}}
								</span>
								<br/>
								<p>{{game.date | date: 'medium'}},
									{{game.home.stadion}}</p>
								<div class="secondary-content">
									<i class="fa fa-ticket fa-2x " aria-hidden="true"></i>
									<span>{{game.loans.length}}</span>
								</div>
							</li>
						</a>
					</ul>
				</div>
			</div>
		</article>
	</div>
</section>