
$white : #fff;
$bg-color-second : #F4F4F4;
$bg-footer : #121415;


section{
    background-color: $bg-color-second;
    margin-top: 0;
}

.profiel{
      padding: 20px;
    background-color: $white;
    margin-bottom: 20px;
}

td i{
    cursor: pointer;
    color:  grey;
}

td i:hover{
    color: #212121;
}

h2{
    display: inline-block;
    float: left;
    font-size: 2.5em;
}

h3{
    font-size: 2em;
}

.btn-floating{
    float: right;
    
}


.favos{
    margin-bottom: 0;
}