<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l4 s12">
				<h5 class="white-text">Subporter</h5>
				<ul>
					<li><a [routerLink]="['/']" class="grey-text">Home</a></li>
					<li><a [routerLink]="['/search']" class="grey-text">Zoeken</a></li>
					<li><a [routerLink]="['/login']" class="grey-text">Login</a></li>
					<li><a [routerLink]="['/register']" class="grey-text">Registreer</a></li>
				</ul>
			</div>
			<div class="col l4 s12">
				<h5 class="white-text">Hulp</h5>
				<ul>
					<li><a [routerLink]="['/about']" class="grey-text">Subporter</a></li>
					<li><a [routerLink]="['/faq']" class="grey-text">FAQ</a></li>
					<li><a [routerLink]="['/conditions']" class="grey-text">Voorwaarden</a></li>
					<li><a [routerLink]="['/privacy']" class="grey-text">Privacy</a></li>
				</ul>
			</div>
			<div class="col l4 s12">
				<h5 class="white-text">Contact</h5>
				<ul>
					<li><a class="grey-text">Graaf Karel de Goedelaan 5</a></li>
					<li><a class="grey-text">8500 Kortrijk</a></li>
					<li><a class="grey-text" href="mailto:info@subpoter.be">info@subporter.be</a></li>
					<li><a class="grey-text">+32 475 53 71 07</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<span>&copy; 2017 Subporter</span>
			<span class="right"><a [routerLink]="['/']" class="grey-text">www.subporter.be</a></span>
		</div>
	</div>
</footer>