.autocomplete-content {
  position: absolute; }

h2 {
  font-size: 2.5em; }

section {
  margin-top: 0; }

.article {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px; }

.bold {
  font-weight: bold; }

.pointer {
  cursor: pointer; }
