<subporter-header title="{{home}} - {{away}}" subtitle="{{date | date: 'medium'}} - {{stadion}}" image="{{banner}}"></subporter-header>


<section>

    <div class="container">
        <div class="crumContainer">
        <div class="crumb"><span>Aangeboden</span><p>{{lendable}}</p></div>
        <div class="crumb"><span>Verhuurd</span><p>{{lent}}</p></div>
        </div>
        <div class="buttonContainer">
            <button (click)="goToOffer()" class="waves-effect waves-light btn">Abonnement aanbieden</button>

        </div>


        <div class="row">

<div class="col s12">


<ul *ngFor="let loan of loans" class="collection">

    <a [routerLink]="['../../listing', loan._id]">
<li class="collection-item" >
  <span class="title">  {{home}} - {{away}}    </span>
 <span class="dark">€{{price}}</span>

 <div class="secondary-content">
     <img src="{{loan.lent_out_by.avatar}}" class="circle">
     <span class="imageSpan">{{loan.lent_out_by.firstname}} {{loan.lent_out_by.name}}</span>
 </div>
    </li>
</a>
</ul>






</div>


</div>



    </div>

</section>


