<subporter-header title="{{home}} - {{away}}" subtitle="{{date | date: 'medium'}} - {{stadion}}" image="{{banner}}">


</subporter-header>

    <button class="waves-effect waves-light btn" (click)="back();">Ga terug</button>

<section>
<div class="container">

<aside>

<img class="circle" src="{{avatar}}">
<p>{{firstname}} {{name}}</p>
<span>{{city}}</span>

</aside>
<article>

    <p>€{{price}}</p>

<button class="waves-effect waves-light btn" (click)="huurAbbo()">Huur abonnement</button>

</article>


</div>



</section>
