  <navmenu header1="Abonnement verhuren" header2="" image="/img/search_bg.jpg"></navmenu>

<section>
    <div class="container"> 


        <div class="wedstrijd article">

            <h2>1. Wedstrijd</h2>
 

            <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete"  materialize="autocomplete" [materializeParams]="[{'data': gameNames}]">
          <label for="autocomplete-input">Selecteer een wedstrijd</label>
        </div>
       
        </div>

        <div class="abonnement article">
            <h2>2. Abonnement</h2>

        </div>

        <div class="bevestiging article">
            <h2>3. Bevestiging</h2>


        </div>


    </div>

</section>





<subporterfooter></subporterfooter>